<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>In this Application we made use of mapbox API and Weather Stack API to get the weather of desired location!</p>
      <img class="portrait" src="/img/Picture2.png" alt="ece_AR_poster">
    </div>
    {{>footer}}
  </body>
</html>